@import 'styles/variables';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background;
	width: 100vw;
	height: 100vh;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $text-light;
	height: 80vh;
	text-align: center;
}

.title {
	font-size: 4rem;
	flex: 1;
}

.subtitle {
	font-size: 3rem;
	flex: 1;
}

.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #db4437;
	padding: 0.75rem;
	border-radius: 0.5rem;
	cursor: pointer;

	svg {
		width: 1.55rem;
		height: 1.55rem;
		margin: 0 0.5rem;
	}

	button {
		border-style: none;
		background-color: transparent;
		font-size: 1.25rem;
		font-weight: bold;
		color: $text-light;
		cursor: pointer;
	}

	&:hover {
		filter: brightness(80%);
	}
}
